@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">@@@@@@@@Bygga Web applikationer med ASP.NET Core!!!!!!!! </a>.</p>
    <p> en ny rad</p>
    <p> en ny rad igen</p>
    <p>Test2</p>
	<h1>Nytt försök från Saber</h1>
</div>
